.logo {
  padding: 0.5rem 0 !important;
}

.wrap {
  height: 100vh;
}

.steps span {
  margin-right: 1em !important;
}

.text-title {
  font-weight: bold;
  margin-bottom: 1em !important;
}

.text-sup {
  text-align: center;
  font-size: smaller;
}

.active {
  font-weight: bold;
  color: #c55083;
}

.timer {
  text-align: center;
}

footer {
  text-align: center;
  color: #555555;
}

ul {
  padding-left: 1rem !important;
}

.formData {
  margin-bottom: 1rem !important;
}
